name: github-publish

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

jobs:
  github-publish:
    name: github-publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: 18
        registry-url: "https://npm.pkg.github.com"
        scope: "@oolio-group"
    - name: Install Node Dependencies
      run: yarn install; cd examples; yarn install; cd ..
    - name: Build packages
      run: yarn build
      env:
        CI: "TRUE"
    - name: Publish package
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITOPS_TOKEN }}
